# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Use path from Git
RewriteCond %{REQUEST_URI} !reneau-and-nick/
RewriteRule ^(.*)$ /reneau-and-nick/$1 [L]
