// Colour utility styles (.co-*)

@each $color, $abbrev in (
  $co-primary: p,
  $co-accent-1: a1,
  $co-accent-2: a2,
  $co-neutral-light: nl,
  $co-neutral-dark: nd,
  $co-white: w,
  $co-black: k
) {
  .co-#{$abbrev} {
    color: $color;
  }
  .co-bg-#{$abbrev} {
    background-color: $color;
  }
}
