// Colours
$co-primary: #4c663e; // ‘Mountain Forest’
$co-accent-1: #2d5069; // ‘Blue Lava’
$co-accent-2: #b1393e; // ‘Red Gumball’
$co-neutral-light: #d1c9bb; // ‘Moth Gray’
$co-neutral-dark: #cabba3; // ‘Dusty Trail’
$co-white: #e5d9c6; // ‘Bone White’
$co-black: adjust-color($co-accent-1, $lightness: -20%);

// Spacing for margins and padding
$s-s: 0.5rem;
$s-m: 1rem;
$s-l: 2rem;
