$c-primary: #4c663e; // ‘Mountain Forest’
$c-accent-1: #2d5069; // ‘Blue Lava’
$c-accent-2: #b1393e; // ‘Red Gumball’
$c-neutral-light: #d1c9bb;
$c-neutral-dark: #cabba3;
$c-white: white;
$c-black: adjust-color($c-accent-1, $lightness: -20%);

$s-s: 0.5rem;
$s-m: 1rem;
$s-l: 2rem;
